.button{
	
		padding-top: 0;
} 

.error{
	display:block;
	line-height:1.3;
	padding-top: 11px;
 padding-bottom: 15px;
}

.error-with-desc{
	   line-height:1.3;
	   padding-top: 15px;
	   padding-bottom: 15px;
}

.error-with-desc-bottom{
	  padding: 15px 15px 15px;
	  color: #000;	   
}

.error-with-desc-bottom p{
	  line-height:1.3;
	  margin-top: 0;
	  margin-bottom: 10px;	   
}

.error-with-desc-bottom p:last-child{
	  margin-bottom: 0;	   
}